import React from 'react';
import { useStyles } from './styles';
import { feathersApp } from 'utils/feathersApp'

const {{pascalCase name}} = props => {
const classes = useStyles();

return (
<div>
  {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};